
$font-path: "../assets/fonts";


$app-direction: ltr;


@import "ionic.globals";



$colors: (
  primary:    #6495ed,
  secondary:  #EF69AD,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #B236D0
);
// top Toolbar
$toolbar-md-background:color($colors, secondary);
// bottom toolbar
$tabs-md-background:color($colors,  secondary);
$tabs-md-tab-color-active:color($colors,  light);
$tabs-md-tab-color-color:color($colors,  light);
$tabs-md-tab-text-color-:color($colors,  light);

$list-md-background-color:color($colors,secondary);
$list-md-text-color:color($colors,light
);













// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
